@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/gilroy-medium');
@import url('https://fonts.cdnfonts.com/css/gilroy-light');             
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Gilroy-Medium', sans-serif;
  width: 100hw;
  box-sizing: border-box;
}
